<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../styles/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>My Blog</title>
</head>
<body>
<div class="header">
    <h1><a href="index.html">My blog</a></h1>
</div>
<div class="sidebar">
    <h2> About this blog</h2>
    Greetings! It's just another blog about games.
</div>
<div class="main">
    <div>
        <h2 style="margin-bottom: 2px"><a href="post1.html">Cyberpunk 2077</a></h2>
        <div class="date">12 January 2021</div>
        <div class="post-entry">
            <p>
                Cyberpunk 2077 is a 2020 action role-playing video game developed and published by CD Projekt. The story
                takes place
                in Night City, an open world set in the Cyberpunk universe. Players assume the first-person perspective
                of a
                customisable mercenary known as V, who can acquire skills in hacking and machinery with options for
                melee and ranged
                combat.</p>
            <figure>
                <img src="../images/Cyberpunk_2077_box_art.jpg" alt="Cyberpunk_2077">
            </figure>

            <p>The game was developed using the REDengine 4 by a team of around 500 people, exceeding the number that
                worked on the
                studio's previous game The Witcher 3: Wild Hunt (2015). CD Projekt launched a new division in Wrocław,
                Poland, and
                partnered with Digital Scapes, Nvidia, QLOC, and Jali Research to aid the production. Cyberpunk creator
                Mike
                Pondsmith was a consultant, and actor Keanu Reeves has a starring role. The original score was led by
                Marcin
                Przybyłowicz, featuring the contributions of several licensed artists.</p>

            <p>CD Projekt released Cyberpunk 2077 for PlayStation 4, Stadia, Windows, and Xbox One on 10 December 2020,
                with
                PlayStation 5 and Xbox Series X/S versions planned to follow in 2021. It received praise for its
                narrative, setting,
                and graphics, although some of its gameplay elements received mixed responses. In contrast, it was
                widely criticized
                for bugs, particularly in the console versions which also suffered from performance issues; Sony removed
                it from the
                PlayStation Store on 17 December 2020.</p>
            <figure>
                <img src="../images/night-city.png" alt="night-city">
                <figcaption style="font-size: 12px">Night City</figcaption>
            </figure>
        </div>
        <div class="post-footer">
            <span><a href="post1.html#comments">Comments</a></span></div>
    </div>
    <div class="post-entry">
        <h2>Skyrim</h2>
        <p>
            The Elder Scrolls V: Skyrim is an open world action role-playing video game developed by Bethesda Game
            Studios and published by Bethesda Softworks.
        </p>
        <figure>
            <img src="../images/skyrim.jpeg" alt="skyrim">
        </figure>
        <p>
            The Elder Scrolls V: Skyrim is an action role-playing game, playable from either a first or third-person
            perspective. The player may freely roam over the land of Skyrim which is an open world environment
            consisting of wilderness expanses, dungeons, caves, cities, towns, fortresses, and villages. Players may
            navigate the game world more quickly by riding horses, paying for a ride from a city's stable or by
            utilizing a fast-travel system which allows them to warp to previously discovered locations. The game's main
            quest can be completed or ignored at the player's preference after the first stage of the quest is finished.
            However, some quests rely on the main storyline being at least partially completed.
        </p>
        <p>
            The player character is a prisoner being led to an execution overseen by General Tullius, which includes
            Ulfric Stormcloak, who is leading a rebellion against the Imperials, among the prisoners to be executed
            there. A dragon named Alduin unexpectedly interrupts the procession, destroying the town of Helgen before
            the player can be executed. The player escapes in the chaos and journeys to the city of Whiterun to request
            aid against the dragon threat. After slaying a dragon that attacks nearby, the player absorbs its soul,
            which grants them the ability to perform a shout. The city's amazed guards inform the player that they must
            be Dragonborn, and the player is summoned to meet with the Greybeards, an order of monks who live in
            seclusion on Skyrim's tallest mountain, the Throat of the World. The Greybeards train the player in using
            shouts and inform the player of their role in stopping Alduin. The player learns that Skyrim's civil war is
            the last in a sequence of prophetic events foretold by the Elder Scrolls, which also predicted the return of
            Alduin.
        </p>
    </div>
    <div class="post-footer">
        <span><a href="">Comments</a></span>
    </div>

    <div class="post-entry">
        <h2>Fallout</h2>
        <p>
            Fallout: A Post Nuclear Role Playing Game is an open-world turn-based role-playing video game developed and
            published by Interplay Productions in 1997. The game has a post-apocalyptic and retro-futuristic setting,
            taking place in the mid-22nd century decades after a global nuclear war in an alternate history timeline.
            The protagonist of Fallout is an inhabitant of a Vault, part of a network of long-term nuclear shelters, who
            is forced to venture out into the wastes to find a replacement Water Chip and save their fellow Vault
            inhabitants.
        </p>
        <figure>
            <img src="../images/fallout.jpeg">
        </figure>
        <p>
            Released in October 1997, Fallout takes place in a post-apocalyptic Southern California, beginning in the
            year 2161. The protagonist, referred to as the Vault Dweller, is tasked with recovering a water chip in the
            Wasteland to replace the broken one in their underground shelter home, Vault 13. Afterwards, the Vault
            Dweller must thwart the plans of a group of mutants, led by a grotesque entity named the Master. Fallout was
            originally intended to run under the GURPS role-playing game system. However, a disagreement with the
            creator of GURPS, Steve Jackson, over the game's violent content required Black Isle Studios to develop the
            new SPECIAL system. Fallout's atmosphere and artwork are reminiscent of post-World War II United States
            and the fear that the country was headed for nuclear war.
        </p>
        <div class="post-footer">
            <span><a href="">Comments</a></span>
        </div>
    </div>
</div>
</body>
</html>