<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../styles/index.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>My Blog</title>
</head>
<body>
<div class="header">
    <h1>My blog</h1>
</div>
<div class="sidebar">
    <h2> About this blog</h2>
    You are not registered yet
</div>
<div class="main">
    <div>
        <h2 style="margin-bottom: 2px"><a href="post1.html">Cyberpunk 2077</a></h2>
        <div class="date">12 January 2021</div>
        <div class="post-entry">
            <span>
                Cyberpunk 2077 is a 2020 action role-playing video game developed and published by CD Projekt. The story takes place in Night City, an open world set in the Cyberpunk universe.
            </span>
        </div>
        <div class="post-footer">
            <span><a href="post1.html#comments">Comments</a></span></div>
    </div>
    <div>
        <h2>Skyrim</h2>
        <span>
        The Elder Scrolls V: Skyrim is an open world action role-playing video game developed by Bethesda Game Studios and published by Bethesda Softworks.
    </span>
    </div>
    <div>
        <h2>Fallout</h2>
        <span>
        Fallout: A Post Nuclear Role Playing Game is an open-world turn-based role-playing video game developed and published by Interplay Productions in 1997. The game has a post-apocalyptic and retro-futuristic setting, taking place in the mid-22nd century decades after a global nuclear war in an alternate history timeline. The protagonist of Fallout is an inhabitant of a Vault, part of a network of long-term nuclear shelters, who is forced to venture out into the wastes to find a replacement Water Chip and save their fellow Vault inhabitants.
            </span>
    </div>
</div>

</body>
</html>