<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../styles/index.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>My Blog</title>
</head>
<body>
<div class="post-title">
    <h1>
        Cyberpunk 2077
    </h1>
</div>
<div class="post-entry">
    Cyberpunk 2077 is a 2020 action role-playing video game developed and published by CD Projekt. The story takes place
    in Night City, an open world set in the Cyberpunk universe.
</div>
<div class="post-footer">
    <span>
        <a href="index.html">Main page</a>
    </span>
    <span>
        <a href="comments.html">Comments</a>
    </span>
</div>
</body>
</html>