<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../styles/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>My Blog</title>
</head>
<body>
<div class="header">
    <h1><a href="index.html">My blog</a></h1>
</div>
<div class="user-card">
    <h1>test_user</h1>
    <div class="sidebar">
        <img src="../images/maru.jpg" alt="userpic">
    </div>
    <div class="user-info">
        <h2>About me</h2>
        <table>
            <tbody>
            <tr>
            <th>Location</th>
                <td>
                    <span>St. Petersburg, Russia</span>
                </td>
            </tr>
            <tr>
                <th>Introduction</th>
                <td>
                    <span>I'm just a test user.</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>