.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    position: sticky;
}

.header a {
    color: #f1f1f1;
    text-decoration: none;
}

.header a:hover {
    color: #f1f1f1;
}

html {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

body {
    width: 83%;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

h2 a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #555555;
}

.post-entry {
    display: block;
    margin: 0 0 .5em;
    line-height: 1.4em;
    text-overflow: ellipsis;
}

.post-entry img {
    max-height: 500px;
    max-width: 400px;
}

.post-footer {
    display: block;
}

.post-footer a {
    color: #707080;
}

.post-footer a:hover {
    color: #cc6600;
}

.sidebar {
    width: 22%;
    float: left;
    word-wrap: break-word;
    overflow: hidden;
    text-align: center;
}

.main {
    width: 73%;
    float: right;
}

.date {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 10px;
    color: #707080;
}

.comments {
    padding-top: 20px;
    padding-bottom: 10px;
}

.comments .comment-block {
    margin-left: 45px;
    margin-bottom: 16px;
}

.user-card h1 {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
    color: #f60;
}

.sidebar img {
    width: 140px;
    max-height: 280px;
}

.user-info tbody {
    text-align: left;
}

th {
    width: 100px;
}